version: "3.3"

services:
  fpm:
    build:
      context: ./
    ports:
      - 9000:9000
    container_name: fpm
    volumes:
      - "./:/usr/share/nginx/html"

  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - "./:/usr/share/nginx/html"
      - "./docker/nginx.conf:/etc/nginx/conf.d/default.conf"
    container_name: nginx

